extends layout 
block content
    +navbar
    section(class="full-manga-section")
        each val, index in manga_list
            a(class="manga-click-div" href=`/manga/item/${val._id}`)
                section(class="manga-card")
                    div(class="card-img-container")
                        img(src=`/${val.item_picture_path}` class="card-img")
                    div(class="item-information")
                        div(class="card-header")
                            h1= val.item_name
                            div(class="card-names")
                                p(id="publisher-header")= `${val.item_publisher}`
                                p(id="author-header")= `${val.item_author}`
                            p(class="card-item-description")= val.item_description 
                        div(class="price-and-stock")
                            p= `$${val.price}.00`
                            p= `${val.number_in_stock} left`
                        section(class="manga-categories")
                            div(class="manga-cat-text-wrapper")
                                h4(class="manga-cat-text")= `${categories[index]}` 
