extends layout 
block content
    +navbar
    div(class="item-description-wrapper")
        div(class="item-description")
            img(src=`../../../${doc.item_picture_path}` class="view-manga-picture")
            h1=doc.item_name
            p=doc.item_description
            div(class="sbs-details")
                h3=`$${doc.price}`
                h3=`${doc.number_in_stock} in stock`
            div(class="sbs-details")
                h3=`${doc.item_publisher}`
                h3=`${doc.item_author}`
            section(class="manga-categories")
                h3(id="manga-cat-spacer")= "Categories: "
                div(class="individual-categories")     
                    each cat, index in doc.item_categories
                        if index < doc.item_categories.length-1
                            h4(class="manga-cat-text")=`${cat.category}, `
                        else
                            h4(class="manga-cat-text")= `${cat.category}`

            
        form(class="delete-item-button" action=`/manga/${doc._id}/delete` method="POST")
            button(type="submit")="Delete"