mixin navbar
    nav
        a(href="/manga" class="nav-button")
            h1="Manga Inventory"
        a(href="/manga/categories" class="nav-button")
            h3="Categories"
        a(href="/manga/create" class="nav-button")
            h3="Create"
        a(href="/manga/update" class="nav-button")
            h3="Update"
        a(href="/login" class="nav-button")
            h3="Login"